---


import { generateId } from "lucia";
import { db, Todo } from "astro:db"

const todos = await (async () => {
    if (Astro.request.method === "POST") {
        const formData = await  Astro.request.formData();
        const id = generateId(1);
        const title = formData.get("title");
        const stock = formData.get("stock");
        const fecha = formData.get("fecha");
        const description = formData.get("description");

        console.log({id,title,stock,fecha,description});
        
        if ( 
            typeof title === "string" &&
            typeof description === "string" &&
            typeof stock === "string" &&
            typeof fecha === "string" 
        ) {
            
            await db.insert(Todo).values({
                id,
                title,
                stock,
                fecha,
                description
            });
        }
        
    }

    return await db.select().from(Todo)
})();






---

<html lang="es">
<head>
<title>Crear Tarea</title>
<meta charset="UTF-8">
</head>
<body class="bg-gray-700">
<div class="block bg-gray-700">
    <form 
    method="POST" 
    class="bg-black shadow-md rounded px-4 pt-6 pb-6">
    <div class="mb-1">
        <label class="block text-gray-300 text-sm font-bold mb-2" for="title">
        Nombre del Producto
        </label>
        <input 
        name="title"
        class="shadow appearance-none bg-gray-700 border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline" id="title" type="text" placeholder="Título de la tarea">
    </div>
    <div class="mb-1">
        <label class="block text-gray-300 text-sm font-bold mb-2" for="title">
        Stock
        </label>
        <input 
        
        name="stock"
        class="shadow appearance-none bg-gray-700 border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline" id="stock" type="text" placeholder="">
    </div> 
    <div class="mb-1">
        <label class="block text-gray-300 text-sm font-bold mb-2" for="title">
        Precio
        </label>
        <input 
        type="text"
        name="fecha"
        class="shadow appearance-none bg-gray-700 border rounded w-full py-2 px-3 text-white leading-tight focus:outline-none focus:shadow-outline" id="fecha " type="text" placeholder="">
    </div>
    <div class="mb-1">
        <label class="block text-gray-300 text-sm font-bold mb-2" for="description">
        Descripción
        </label>

        <textarea 
        name="description" 
        class="shadow appearance-none border rounded w-full py-2 px-3 bg-gray-700 text-gray-300 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="description" placeholder="Descripción de la tarea"></textarea>



    </div>
    
    <div class="flex items-center justify-between">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" >
        Submit
        </button>
    </div>
    
    </form>


    <div class="justify-center mt-10  space-x-10 ">
        <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
            <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="py-3 px-6">ID</th>
                    <th scope="col" class="py-3 px-6">Titulo</th>
                    <th scope="col" class="py-3 px-6">Stock</th>
                    <th scope="col" class="py-3 px-6">Fecha</th>
                    <th scope="col" class="py-3 px-6">Descripcion</th>

                </tr>
                </thead>
                <tbody>
                {todos.map((todo : Todo) => (
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td class="py-4 px-6">{todo.id}</td>
                    <td class="py-4 px-6">{todo.title}</td>
                    <td class="py-4 px-6">{todo.stock}</td>
                    <td class="py-4 px-6">{todo.fecha}</td>
                    <td class="py-4 px-6">{todo.description}</td>

                </tr>
                ))}
                </tbody>
            </table>
            </div>
    </div>
    
    </div>
    
    
</div>

</body>
</html>
